html{
  font-size: 14px;
  font-family: Georgia, serif;
}

body{
  color: black; 
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: white;
}

.scroll{
  overflow: auto;
}

a:link, a:visited, a:active{
color: inherit;
text-decoration: none ;
}

a:hover{
  text-decoration: underline;
}

.linkHover{
  transition: .15s;
}

.linkHover:hover{
  filter: invert(100%);
  text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white;
}

h1{
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: 5px;
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

/*
NOTES: 

media query at 1500

use iframes?????!?!?!

https://stackoverflow.com/questions/71636631/replace-html-code-with-code-from-another-page
https://stackoverflow.com/questions/17502071/transfer-data-from-one-html-file-to-another
https://www.geeksforgeeks.org/how-to-append-html-code-to-a-div-using-javascript/

https://stackoverflow.com/questions/11696921/linking-identical-html-over-several-pages


!! https://stackoverflow.com/questions/31954089/how-can-i-reuse-a-navigation-bar-on-multiple-pages !! <-- this seems good!!

AJAX
https://www.w3schools.com/js/js_ajax_intro.asp
PHP too?


animations
the box when u hover over nav stuff



PAGES
about.html
-?aboutThisSite.html

changelog.html

journal.html
-dreamJournal.html
-myGospel

music.html
-myMusic.html
-reviewsMusic.html
-favoriteMusic.html
/top100Music.html
/topArtistsMusic.html
/shrinesMusic.html
=__ShrineMusic.html
-rankingsMusic.html
/__RankingMusic.html
-collectionMusic.html
-kingCrimsonGuide.html
-drainGangGuide.html
-contactMeMusic.html

games.html
-geometryDash.html
/myLevels.html
/reviewsGD.html
-tBOI.html



*/




/*LEFT PANEL*/



#infoLeft{
  position: absolute;
  width: 300px;
  height: 100vh;
  left: 0%;
}

#infoLeft::before{
  content: "";
  background-image: url(images/backgroundSmaller.gif);
  background-repeat: repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  opacity: 6%;
}

#mincer{
  display: flex;
  margin: 1.5rem 1.5rem;
  cursor: default;
  justify-content: left;
}

#mincer div{
  flex-direction: column;
}

#mincer h1{
  display: block;

}

#mincer img{
  display: block;
  width: 4em;
  transform: translateY(12px);
}

.pageTitle a{
  text-decoration: none;
}

#infoInfo{
  position: absolute;
  bottom: 0;
  margin: 1rem 1.5rem;
  letter-spacing: 2px;
}

#infoInfo *{
  margin: 0;
  font-weight: normal;
}

#infoInfo h2{
  font-size: 1.5rem;
}

#infoInfo p{
  font-size: .88rem;
}

#infoInfo #contactHeading{
  margin-bottom: .75rem;
  font-weight: bold;
}

#infoInfo .c{
  margin-top: .5rem;
  font-size: .6rem;
  font-weight: bold;
}

#aboutLink{
  margin-bottom: 3rem;
}

#socials{
  display: flex;
  flex-flow: wrap;
  margin-bottom: 2rem;
  align-items: center;
}

#socials img{
  height: 1rem;
  margin-left: .5rem;
  filter: grayscale(100%);
}

#socials hr{
  flex-basis: 100%; 
  height: 0; 
  margin: 0; 
  border: 0; 
}




/*MAIN*/




#mainMain{
  position: absolute;
  width: calc(100vw - 600px);
  height: 100vh;
  left: 50vw;
  transform: translateX(-50%);
  overflow-y: auto;
}

#mainMain::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, .04);
}
#mainMain::-webkit-scrollbar-thumb:hover{
  background: rgba(0, 0, 0, .06);
}

/*SCROLLBARS (UNIVERSAL)*/

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, .06);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(0, 0, 0, .12);
}




/*NAV*/



h3{
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 1.25rem;
}

#mainNav{
  position: absolute;
  width: 300px;
  height: 100%;
  right: 0%;
  text-align: right;
  overflow-y: auto;
}

#mainNav h3{
  display: block;
  margin-bottom: 1.75rem;
  font-size: 1rem;
}

/*#mainNav a{
    transition: .15s;
  }

  #mainNav ul a:hover{
    font-size: 103%;
  }*/

#navMargin{
  margin: 1.5rem 1.5rem;
}

#navTitle{
  text-align: right;
  cursor: default;
  margin-bottom: 2rem;
}

#mainNav ul{
  margin-top: 2.5rem;
  margin-right: .75rem;
}






/*SECTIONS*/




main h1{
  font-size: 2.25rem;
  font-weight: bold;
}

main h2, main h3{
  font-size: 1.5rem;
}

.mainPadding{
  width: auto;
  height: 64px;
}

.padding1{
  width: auto;
  height: 32px;
}

.container{
  margin: 4rem auto;
  width: 62.5%;
  min-height: 200px;
  box-shadow: 0px 0px 17px 2.25px rgba(0, 0, 0, .045);
}

.container h1, .container h2{
  margin: 0 4rem;
  text-align: center;
}

.container h1{
  padding: 2rem 0 1rem 0;
}

.container h2{
  padding: 0 0 2rem 0;
}

.container p, .container h3{
  margin: 0 4rem;
  padding: 1rem 0;
}

.container h4, .pageNav h4{
  font-weight: normal;
  color: rgba(0, 0, 0, .66);
  text-align: center;
  margin: 0 5rem;
  padding: 0 0 .5rem 0;
  font-size: .75rem;
  transform: translateY(-.5rem);
}

.container img{
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 82%;
  max-height: 90vh;
}

.container a{
  text-decoration: underline;
}

.imageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  width: fit-content;
}

.multiImage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.imageContainer img{
  max-width: calc(100% - 2rem);
}

.sectionTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  min-height: 0px;
}

.sectionTitle h1{
  padding: 0;
  margin: 0;
}

/*Album Stuff*/

.albumPage{
  display: flex;
  margin: 4rem auto;
  justify-content: center;
}

.album{
  background-color: rgba(0, 0, 0, 0);
  width: fit-content;
  height: fit-content;
  max-width: 36%;
  max-height: 36%;
  min-width: 200px;
  margin: 1rem;
}

.album img{
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, .06);
}

.albumInfo{
  box-shadow: none;
  max-width: 33%;
  margin: 0;
}

.albumInfo h3, .albumInfo p, .albumInfo h4{
  margin: 0 3rem;
  padding: .25rem;
  text-align: left;
}

.albumInfo h3{
  margin-top: 2rem;
}

.albumInfo h4{
  padding-left: 1rem;
  font-size: .88rem;
}

.albumInfo ul{
  margin: 1rem 0 2rem 0;
  letter-spacing: 2px;
  font-size: .88rem;
  padding-left: 1rem;
}

.bonusTrack{
  font-style: italic;
}

.albumFlavorText{
  font-size: .66rem;
  color: rgba(0, 0, 0, .75);
  letter-spacing: 1px;
}



/*PAGE NAV*/



.pageNav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  width: fit-content;
  margin: auto;
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }

.pageNav section{
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 17px rgba(0, 0, 0, .25);
  max-width: 400px;
  max-height: 400px;
/*  width: auto;
  height: auto;*/
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.pageNav img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%) blur(1.25px);
}

.pniLeft{
  object-position: right center;
}

.pniRight{
  object-position: left center;
}

.pageNav a{
  height: fit-content;
  justify-content: center;
}

.pageNavImage, .pageNavText{
  transition: .2s;
}

.pageNav a:hover .pageNavImage{
  filter: grayscale(0%) blur(0px);
}

.pageNav a:hover .pageNavText{
  font-size: 1.75rem;
  filter: invert(100%);
}

.pageNav h2{
  position: absolute;
  align-self: center;
  text-align: center;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0px 0px 4px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 2px white, 0px 0px 2px white;
  font-weight: normal;
  letter-spacing: 2px;
}

/*.backButton{
  opacity: .125;
  color: black;
  position: absolute;
  top: 4rem;
  left: 6rem;
  transition: .1s;
}

.backButton h1{
  letter-spacing: 1px;
}

.backButton:hover{
  text-decoration: none;
  opacity: .5;
}

.backButton a:hover{
  text-decoration: none;
}*/


/*FOOTER*/





/*footer{
  opacity: 25%;
}

#txtBG{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  display: inline-block;
  text-align: left;
  font-weight: bold;
  cursor: default;
}*/