html{
  font-size: 14px;
  font-family: Georgia, serif;
  overflow: hidden;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

body{
  color: black; 
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.scroll{
  overflow: auto;
}

a:link, a:visited, a:active{
color: inherit;
text-decoration: none ;
}

a:hover{
  text-decoration: underline;
}

.linkHover{
  transition: .2s;
  user-select: none;
}

.linkHover:hover{
  filter: invert(100%);
  text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 4px white, 0px 0px 4px white;
}

.clickFake:hover{
  cursor: pointer;
}

.noUL{
  text-decoration: none!important;
  display: inline-block;
}


h1{
  font-size: 35px;
  font-weight: normal;
  letter-spacing: 6px;
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

p{
  font-size: 1.13rem;
}

/*
NOTES: 


animations
the box when u hover over nav stuff


*/




/*LEFT PANEL*/



#infoLeft{
  position: absolute;
  width: 300px;
  height: 100vh;
  left: 0%;
  background-color: white;
}

#infoLeft::before{
  content: "";
  background-image: url(images/backgroundSmaller.gif);
  background-repeat: repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  opacity: 5%;
}

#mincer{
  display: flex;
  margin: 2rem 1.5rem;
  cursor: default;
  justify-content: left;
  height: 7rem;
}

#mincer div{
  z-index: 2;
  flex-direction: column;
}

#mincer h1{
  display: block;

}

#mincer h5{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1.125rem;
  padding: .5rem 0 0 .75rem;
  letter-spacing: 4px;
  opacity: .625;
}

#mincer img{
  display: block;
  width: 4em;
  transform: translate(1rem, 4px);
}

.pageTitle a{
  text-decoration: none;
}

#infoInfo{
  position: absolute;
  bottom: 1rem;
  margin: 1rem 1.5rem;
  margin-right: .5rem;
  letter-spacing: 2px;
  z-index: 2;
  word-break: break-word;
}

#infoInfo *{
  margin: 0;
  font-weight: normal;
}

#infoInfo h2{
  font-size: 2rem;
}

#infoInfo p{
  font-size: 1.12rem;

}

#infoInfo #contactHeading{
  margin-bottom: .75rem;
  font-weight: bold;
}

#infoInfo .c{
  margin-top: .5rem;
  font-size: .66rem;
  font-weight: bold;
}

#aboutLink{
  margin-bottom: 1.5rem; 
/*4rem normally*/
}

#contactLink{
  margin-bottom: 1rem;
}

#aboutLink a{
  text-decoration: none;
}

#socials{
  display: flex;
  flex-flow: wrap;
  margin-bottom: 3.5rem;
  align-items: center;
  line-height: 1.5rem;
}

#socials img{
  height: 1rem;
  margin-left: .5rem;
  filter: grayscale(100%);
}

#socials hr{
  flex-basis: 100%; 
  height: 0; 
  margin: 0; 
  border: 0; 
}




/*MAIN*/




#mainMain{
  position: absolute;
  width: calc(100vw - 600px);
  height: 100vh;
  left: 50vw;
  transform: translateX(-50%);
  overflow-y: auto;
  background-color: white;
}

#mainMain::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, .04);
}
#mainMain::-webkit-scrollbar-thumb:hover{
  background: rgba(0, 0, 0, .06);
}

/*SCROLLBARS*/

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, .06);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(0, 0, 0, .12);
}


*{
  scrollbar-width: thin;
  scrollbar-color: rgba(210, 210, 210, .2) rgba(0, 0, 0, 0);
}

/*NAV*/



nav{

}

/*nav::before{
  content: "";
  filter: blur(10px);
  -webkit-filter: blur(10px);
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  background-image: url('images/waterBGInvert.png');
  background-size: 500%;
  background-repeat: repeat;
  position: fixed;
  right: -4%;
  opacity: 25%;
  width: 600px;
  height: 100%;
  z-index:-1;
}
#mainMain{
    box-shadow: 0px 0px 50px 2px white, 0px 0px 50px 2px white, 0px 0px 25px 2px white;
}*/


#navMove{
  position: absolute;
  width: 300px;
  height: 100%;
  right: 0%;
  text-align: right;
  overflow-y: visible;
  overflow-x: visible;
  z-index: -1;
  transition: .66s cubic-bezier(0.22, 1, 0.36, 1);
}

h3{
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 1.25rem;
}

.navNav{
  position: absolute;
  width: 300px;
  height: 100%;
  right: 0%;
  text-align: right;
  overflow-y: auto;
  overflow-x: hidden;
}

#mainNav{
  transform: translateX(0%);
}
.otNav{
  display: none;
}

.otNavVisible{
  display: block;
}

.otNav2{
  transform: translateX(100%);
}
.otNav3{
  transform: translate(200%, .5rem);
}
.otNav4{
  transform: translate(300%, .5rem);
}
.otNav5{
  transform: translate(400%, .5rem);
}
.otNav6{
  transform: translate(500%, .5rem);
}



/*#uegroupNav{
  display: block;
}*/

.navNav h3{
  display: block;
  margin-bottom: 1.75rem;
  font-size: 1rem;
}

/*.navNav a{
    transition: .15s;
  }

  .navNav ul a:hover{
    font-size: 103%;
  }*/

.navMargin{
  margin: 2rem 1.5rem;
}

.navTitle{
  text-align: right;
  cursor: default;
  margin-bottom: 2rem;
  word-break: break-all;
}

.navNav ul{
  margin-top: 2.5rem;
  margin-right: .75rem;
}


#pageSelect{
  position: absolute;
  right: 0%;
  width: 300px;
  box-sizing: border-box;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  transform: translateY(.125rem);
}

#pageSelect h3{
  font-size: 1.5rem;
  margin: 0 .33rem;
}

.pageSelectButton.pageSelectAct{
  display: block;
}

.pageSelectButton{
  display: none;
  opacity: 20%;
}

.pageSelectButton.pageButAct{
  opacity: 88%;
}

#navMove.navPage1{
  transform: translateX(0%);
}
#navMove.navPage2{
  transform: translateX(-100%);
}
#navMove.navPage3{
  transform: translateX(-200%);
}
#navMove.navPage4{
  transform: translateX(-300%);
}
#navMove.navPage5{
  transform: translateX(-400%);
}
#navMove.navPage6{
  transform: translateX(-500%);
}

/*.navDirMove{
  transform: translateY(.75rem);
}*/




/*.backForth{
  position: absolute;
  right: 0;
  top: 92%;
  text-align: right;
  font-weight: bold;
  margin-right: 1.75rem;
  opacity: 88%;
}

.backForth h3{
  font-size: 2.75rem;
  display: none;
}

.showNavOp h3{
  display: block;
}*/


/*Mobile Nav*/

#navMobile{
  position: fixed;
  z-index: 10;
  display: none;
  background: white;
  width: 100vw;
  height: 6rem;
}

#navMobTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  width: 100%;
  z-index: 6;
  background: white;
}

#navMobTitleText{
  display: flex;
  flex-direction: column;
  margin: 0;
}

#navMobile h1, h3{
  margin: 0;
}

#navMobileh3{
  letter-spacing: 4px;
  padding: 0 .75rem;
  opacity: .625;
}

#navMobButton{
  display: flex;
  position: relative;
  justify-self: right;
  height: 50%;
  aspect-ratio: 1/1;
}

#navMobButton img{
  position: absolute;
  height: 100%;
  display: none;
}

.visibleNavMob{
  display: block !important;
  transition: .125s;
  user-select: none;
  cursor: pointer;
}

/*.visibleNavMob:hover{
  filter: drop-shadow(0px 0px .5px white) drop-shadow(0px 0px .5px white) drop-shadow(0px 0px .5px white) drop-shadow(0px 0px .5px white) drop-shadow(0px 0px .5px white) invert(100%);
}*/

#navMobContent{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .66);
  -webkit-backdrop-filter: blur(.12rem);
  backdrop-filter: blur(.12rem);
  z-index: 5;
  box-shadow: 0px 0px 17px 2.25px rgba(0, 0, 0, .05);
  border: 1px rgba(0, 0, 0, .05);
  border-style: solid none none none;
  box-sizing: border-box;
  transition: .66s cubic-bezier(0.22, 1, 0.36, 1);
}

#navMobContent.navMobMove{
  transform: translateY(100%);
}





/*SECTIONS*/




main h1{
  font-size: 2.75rem;
  font-weight: bold;
}

main h2, main h3{
  font-size: 1.6rem;
}

.mainPadding{
  width: auto;
  height: 64px;
}

.padding1{
  width: auto;
  height: 32px;
}

.container{
  margin: 4rem auto;
  width: 62.5%;
  min-height: 200px;
  box-shadow: 0px 0px 17px 2.25px rgba(0, 0, 0, 5%);
}

.container h1, .container h2{
  margin: 0 3rem;
  text-align: center;
}

.container h1{
  padding: 1rem 0;
  letter-spacing: 8px;
}

.container h2{
  padding: 0 0 2rem 0;
  font-size: 1.5rem;
  letter-spacing: 0px;
}

.container p, .container h3{
  margin: 0 3rem;
  padding: 1rem 0;
}

.container h4, .pageNav h4{
  font-weight: normal;
  color: rgba(0, 0, 0, .66);
  text-align: center;
  margin: 0 3rem;
  padding: 0 0 .5rem 0;
  font-size: 1rem;
  letter-spacing: 0px;
  transform: translateY(-.5rem);
}

.centerText{
  text-align: center;
}

.container img{
  display: block;
  margin: 1rem auto;
  padding: 0;
  max-width: 82%;
  max-height: 88vh;
}

.imgShadow{
  box-shadow: 0px 0px 17px 2.25px rgba(0, 0, 0, .1)
}

.container a{
  text-decoration: underline;
}

.divided{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.divL{
  grid-column-start: 1;
}

.divR{
  grid-column-start: 2;
}

.imageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  width: fit-content;
}

.multiImage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.imageContainer img{
  max-width: calc(100% - 2rem);
}

.circleBorder{
  border-radius: 50%;
}

.sectionTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  min-height: 0px;
}

.sectionTitle h1{
  padding: 0;
  margin: 0;
  font-size: 3rem;
  letter-spacing: 10px;
}

/*Showcase*/

.showcaseContainer{
  height: 47vh;
  display: flex;
}

.projShowcase{
  display: flex;
  margin: auto;
  justify-content: center;
  max-height: 600px;
  width: 100%;
}

.showcaseThumb{
  background-color: rgba(0, 0, 0, 0);
  width: fit-content;
  height: fit-content;
  max-width: 350px;
  max-height: 350px;
  min-width: 200px;  
  margin: auto 0;
}

.showcaseThumb img{
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, .06);
}

.showcaseInfo{
  box-shadow: none;
  max-width: 38%;
  margin: 0;
}

.showcaseInfo h3, .showcaseInfo p, .showcaseInfo h4{
  margin: 0 2rem;
  padding: .25rem;
  text-align: left;
}

.showcaseInfo h3{
/*  margin-top: 2rem;*/
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}

.showcaseInfo h4{
  padding-left: .88rem;
  margin-top: 0;
  font-size: 1.125rem;
}

.showcaseInfo ul{
  margin: 1rem 0;
  letter-spacing: 2px;
  font-size: 1rem;
  padding-left: .25rem;
}

.showcaseInfo a{
  color: rgba(0, 0, 0, 1.0);
  font-weight: bold;
  line-height: 3rem;
}

.italics{
  font-style: italic;
}

.flavorText{
  font-size: .75rem;
  color: rgba(0, 0, 0, .75);
  letter-spacing: 1px;
}

.reveal{
  transform: translateY(25px);
  opacity: 0;
  transition: all .75s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal.appear{
  transform: translateY(0px);
  opacity: 1;

}



/*PAGE NAV*/



.pageNav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  width: fit-content;
  margin: auto;
  padding: 0 1rem;
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  }

.pageNav section{
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 17px rgba(0, 0, 0, .25);
  max-width: 400px;
  max-height: 400px;
/*  width: auto;
  height: auto;*/
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.pageNav img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%) blur(1.25px);
}

.pniLeft{
  object-position: right center;
}

.pniRight{
  object-position: left center;
}

.pageNav a{
  height: fit-content;
  justify-content: center;
}

.pageNavImage, .pageNavText{
  transition: .2s;
}

.pageNav a:hover .pageNavImage{
  filter: grayscale(0%) blur(0px);
}

.pageNav a:hover .pageNavText{
  font-size: 1.75rem;
  filter: invert(100%);
}

.pageNav h2{
  position: absolute;
  align-self: center;
  text-align: center;
  margin: 0;
  width: 100%;
  word-break: break-word;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0px 0px 4px white, 0px 0px 3px white, 0px 0px 3px white, 0px 0px 2px white, 0px 0px 2px white;
  font-weight: normal;
  letter-spacing: 2px;
}

/*.backButton{
  opacity: .125;
  color: black;
  position: absolute;
  top: 4rem;
  left: 6rem;
  transition: .1s;
}

.backButton h1{
  letter-spacing: 1px;
}

.backButton:hover{
  text-decoration: none;
  opacity: .5;
}

.backButton a:hover{
  text-decoration: none;
}*/


/*FOOTER*/





/*footer{
  opacity: 25%;
}

#txtBG{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  display: inline-block;
  text-align: left;
  font-weight: bold;
  cursor: default;
}*/





@media (max-width: 1530px){

html{

}

h1{
  font-size: 2.25rem;
  letter-spacing: 5px;
}

.navTitleText{
  font-size: 1.34rem;
  font-weight: bold;
  padding-top: .75rem;
}

#mincer, #infoInfo{
  margin-left: .75rem;
}

#mincer h5{
  padding: .5rem 0 0 0rem;
}


.navMargin{
  margin-right: .75rem;
}

#infoLeft, #navMove, .navMove, .navNav, #pageSelect{
  width: 200px;
}

#mainMain{
    width: calc(100vw - 400px);
}

.showcaseContainer{
  height: 55vh;
}

/*.backForth{
  transform: translateX(-100px) translateX(50%);
}*/

}






@media (max-width: 1100px){

html{
  font-size: 12px;
}

h1{
  font-size: 2.5rem;
}

.navMove, .navNav, .backForth, #infoLeft{
  display: none;
}

#mainMain{
  width: 100vw;
}

.container{
  width: 80%;
}

.imageContainer{
  max-width: 80%;
}

.showcaseThumb{
  max-width: 350px;
}

.showcaseContainer{
  height: 40vh;
  margin-top: 12rem;
}

#navMobile{
  display: flex;
}

}



@media (max-width: 700px){

.container{
  width: 90%;
}

.showcaseThumb{
  width: fit-content;
}

.showcaseContainer, .projShowcase{
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.showcaseContainer{
  height: 60vh;
}

.imageContainer{
  max-width: 90%;
}

.showcaseInfo{
  max-width: 88%;
  margin-top: 2rem;
}



.container h1, .container h2, .container h3, .container h4, .container p{
  margin: 0 .75rem;
}

}

@media (max-width: 600px){

.pageNav{
  gap: 2rem;
}

}

@media (max-height: 800px){

.showcaseContainer{
  margin-bottom: 75%;
}

}